* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {

    font-size: 62.5%;
}
body{
    overflow-x: hidden;
}
p,
li,
a,
label {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color: grey;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: rgb(76, 70, 70);
}

li {
    list-style: none;
}

/* Navbar Start */
.section {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 24px 0px;
}

.container {
    max-width: 122rem;
    margin: 0 auto;
    padding: 4.9rem 1rem;
}

.section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 0.6rem;


}

.custom-shape-divider-bottom-1752209700 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1752209700 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 8rem;
}

.custom-shape-divider-bottom-1752209700 .shape-fill {
    fill: #FFFFFF;
}

.section .navbar ul {
    display: flex;
    gap: 3.2rem;

    & li a {
        font-weight: 600;
        display: inline-block;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            border-bottom: 0.2rem solid lightblue;
        }
    }

    & li a:hover:after {
        width: 100%;
        transition: all .2s linear;

    }
}

/* Navbar End */


/* Hero Section Start */
.grid {
    display: grid;
    align-items: center;
    gap: 6.4rem;
}

.hero-para {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.7rem;
    font-weight: 700;
    word-spacing: 0.2rem;
    color: darkblue;
}

.hero-heading {
    font-size: 5.8rem;
    font-family: "jost";
    color: rgb(1, 1, 157);
    font-weight: 900;
}

.para {
    color: white;
    margin: 2rem 0 4rem 0;
}


.gridtwo--cols {
    grid-template-columns: repeat(2, 1fr);

}

.btn {
    display: inline-block;
    padding: 1.2rem 0.4rem;
    background-color: rgb(69, 69, 192);
    color: white;
    border-radius: 0.5rem;
}

.btn:hover {
    background-color: blue;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 24px 0px;
}

main {
    position: relative;
    background-image: linear-gradient(to top right,

            #3d86fa,
            #4484fb,
            #679eff,
            #b3d2ff,
            #ebf3fe);
}

.image-hero img {
    width: 100%;
    height: auto;
    transform: scaleX(-1);
}

.section-heading {
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: capitalize;
}

.icon img {
    padding: 2.4rem;
    margin: 8rem 0 1rem 0;
    width: 13rem;
    height: auto;
    border-radius: 100%;
    /* background-color: rgb(238, 238, 238); */
    background-color: lightblue;
    transition: all .3s linear;
}

.about-div {
    text-align: center;
}

.section-common-title {
    font-size: 1.7rem;
    margin: 3rem 0 1.5rem 0;
}

.container-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 8rem;
}

.container-grid p {
    color: gray;
}

.icon img:hover {
    rotate: 360deg;
    background-image: linear-gradient(to top right,
            #3d86fa,
            #4484fb,
            #679eff,
            #b3d2ff,
            #ebf3fe);
}

.fourcols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3.2rem;

    /* grid-template-columns:; */
}

.course-div:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 24px 0px;
    transition: all 0.3 linear;
}

.course-div {
    padding: 3.2rem 3.4rem 3.2rem 3rem;
    margin: 3rem 0rem 0 0rem;
}

.course-div p {
    color: gray;
}

.text {
    width: 6rem;
    aspect-ratio: 1;
    background-color: lightblue;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 700;
    font-size: 2rem;
    text-align: right;
}

.left-div div {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.grid-threecols {
    grid-template-columns: repeat(3, 1fr);
    gap: 7.6rem;
}

.right-para {
    text-align: right;
}

.center-div img {
    width: 90%;
    height: auto;
}

.center-div,
figure {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.whychoose {
    margin: 3rem 0 0 0;
}

.center-div figure::before,
.center-div figure::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3d86fa;
    width: 40rem;
    height: 40rem;
    z-index: -1;
    border-radius: 50%;


}

.fa-brands .center-div figure::before {
    animation: circle 5s linear infinite;
}

@keyframes circle {
    0% {
        background-color: #3d86fa;
    }

    25% {
        background-color: #4484fb;
    }

    50% {
        background-color: #9db5d7;
    }

    75% {
        background-color: #679eff;
    }

    100% {
        background-color: #81b3ff;
    }

}

.center-div figure::after {
    width: 45rem;
    height: 45rem;
    background: transparent;
    z-index: -2;
    border: 0.3rem solid lightblue;
}

.contact-contents {
    width: 60%;
    height: 30rem;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 24px 0px;

}

.contact-content p {
    color: gray;
    margin: 1.2rem 0 2.4rem 0;
}

.contact-content {
    padding-left: 3rem;
    padding-top: 5rem;

}

.contact-content h2 {
    font-size: 3.3rem;
}

.contact-contents {
    position: relative;
    bottom: -10rem;
    background: white;
    z-index: 3;
}

.contact-image img {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 25rem; */
    padding-top: 5rem;
}

.about {
    padding-top: 2rem;
}

footer {
    background: #040d12;
    padding-top: 12rem;
}

footer * {
    color: white;
}

.footer1 p {
    margin: 1rem 0 3rem 0;
}

.social-icon {
    display: flex;
    gap: 2rem;
}

/* .social-icon a {
    width: 4rem;
    aspect-ratio: 1;
    height: 9rem;
    background-color: white;
    color: #3d86fa;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
} */

footer .grid {
    text-align: right;
}

.footer1 {
    text-align: left;
}

.logo-brand a {
    font-size: 2rem;
    font-weight: 700;
}

.footer-subheading {
    font-size: 1.9rem;
    font-weight: 500;
}

.grid1-img img {
    width: 100%;
    height: auto;

}

.grid1 {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 24px 0px;

}

.cal p {
    margin: 0 0 12px 12px;
    padding: 0;
}

.content-para h3 {
    margin: 0 0 12px 12px;
    font-size: 1.8rem;
}

.contact-content .fourcols {
    margin-top: 7rem;
}

.fourcols .grid1:hover {
    scale: 1.05;
}

/* Contact Page */
.mb3 {
    margin-bottom: 3.2rem;
}

label {
    display: block;
    text-transform: capitalize;
}

input,
textarea {
    width: 100%;
    padding: 1.4rem 2.4rem;

}

:focus-visible {
    outline: 0.1rem solid #3d86fa;
}

::placeholder {
    font-size: 1.4rem;
    padding: 1.4rem 0;
}

.submit {
    border: none;
    text-transform: capitalize;
    font-size: 1.5rem;
}

.fa-brands,
.fa-solid {
    padding: 1.4rem;
    margin: 1.7rem auto;
    text-align: center;
    width: 9rem;
    height: auto;
    border-radius: 100%;
    background-color: rgb(238, 238, 238);
    font-size: 5rem;
    display: flex;
    color: white;
}

.fa-database {
    background: rgb(255, 239, 239);
    color: #81b3ff;
}

.fa-html5 {
    background: orangered;
}

.fa-css3-alt {
    background: #3d86fa;
}

.fa-laptop-code {
    background: darkblue;
    color: black;
}

.fa-java {
    background: orange;
    font-size: 5.2rem;
}

.fa-js {
    background: #FFFF00;
}

.fa-python {
    background: #50C878;
}

.fa-linkedin-in,
.fa-github,
.fa-instagram {
    width: 6rem;
    font-size: 3rem;
    background: #4484fb;
    height: auto;
}

.fa-instagram {
    background: hotpink;
}

.fa-github {
    background: white;
    color: black;
}

.fa-linkedin-in:hover,
.fa-github:hover,
.fa-instagram:hover {
    rotate: 360deg;
    transition: all 0.35s linear;
}


/* Media Queries Responsive website */
@media (width<=1100px) {
    html {
        font-size: 56%;
    }

    .section .container {
        /* display: flex; */
        padding-right: 2rem;
        padding-left: 2rem;

    }

    .container {
        padding-right: 2rem;
        padding-left: 2rem;

    }

    .section-hero h1 {
        font-size: 4.3rem;
        /* color: #040d12; */
    }

    .image-hero img {
        width: 90%;
    }

    .custom-shape-divider-bottom-1752209700 svg {
        height: 5.4rem;
    }
}

@media (width<=780px) {
   .section-hero .gridtwo--cols,
    .grid-threecols,.container .gridtwo--cols,
    .container-grid {
        grid-template-columns: 1fr ;

    }
    .section .navbar ul{
        gap: 2.3rem;
    }
    .image-hero img {
        width: 100%;
    }
    .section-hero h1{
        font-size: 4rem;
    }

    .section-hero {
        order: 2;

        &.hero-heading {
            font-size: 2rem;
        }
    }

    .image-hero {
        order: 1;
        width: 45%;
        margin: auto;
        height: auto;
    }
    .section,main{
        width: 100%;

    }
    .section .container {
        padding-right: 2rem;
        flex-direction: column;
    }
    
    .about-div {
        width: 100%;
        text-align: left;

    }

    .container-grid {
        gap: 0.3rem;
    }
    .left-div div {
        align-items: start;
    }
    .left-div{
        order: 2;
    }
    .right-div{
        order: 3;
    }
    .right-para{
        text-align: left;
    }
    .center-div img{
        width: 50%;
        height: auto;
        order: 1;
    }
    .center-div figure::before, .center-div figure::after{
        width:0 ;
        height: 0;
    }
    .contact-content .header{
        font-size:2rem;
    }
    .contact-content .left-para{
        font-size: 1.3rem;
    }
    .contact-image img{
        width: 100%;
        height: auto;
    }
    footer{
        width: 100%;
    }
    footer .fourcols{
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        text-align: left;
        & .footer1{
            grid-row: 2/3;
            grid-column: 1/-1;
            margin-top: 5rem;

        }
    }
    .contact-contents{
        width: 90%;
        height: auto;
        padding: 2rem 0;
    }

}

@media (width<=1100px) {
    .fourcols {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
 
    }
    
    .center-div figure::before, .center-div figure::after{
        width:0 ;
        height: 0;
    }
    .contact-content h2{
        font-size:2.5rem;
    }
    .contact-content {
        padding-top: .5rem;
    }
}
